
.dropdown-menu .dropdown-item:hover,
.dropdown-menu .dropdown-item:focus,
.dropdown-menu a:hover,
.dropdown-menu a:focus,
.dropdown-menu a:active {
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(156, 39, 176, 0.4);
  background-color: red;
  color: #FFFFFF;
}

tbody > tr:hover {

  background-color: darkgray;

}

.updateImage {

  position: absolute;
  text-align: center;

}

#perfil-load {

  position: absolute;
  right: 138px;
  top: -15px;
  width: 50px;

}

#inmueble-loader {

  position: absolute;
  top: 40%;
  left: 46%;

}
