
<!DOCTYPE html>
<html lang="es"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >

<head th:replace="maintemplate :: head">
</head>

<body class="">

    <div class="wrapper ">

        <div th:replace="maintemplate :: sidebar" class="sidebar" data-color="purple" data-background-color="white"
            data-image="../assets/img/sidebar-1.jpg">
        </div>

        <div class="main-panel">
            <!-- Navbar -->
            <nav th:replace="maintemplate :: navbar"
                class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
            </nav>

            <div class="content">
                <div id="reparacion-card-container" class="card-content">
                    <div class="card" style="width: 20rem;">
                        <div class="card-body">
                          <h4 class="card-title">Card title</h4>
                          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#0" class="card-link">Card link</a>
                          <a href="#0" class="card-link">Another link</a>
                        </div>
                      </div>
                      
                      <div class="card" style="width: 20rem;">
                        <div class="card-body">
                          <h4 class="card-title">Card title</h4>
                          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#0" class="card-link">Card link</a>
                          <a href="#0" class="card-link">Another link</a>
                        </div>
                      </div>
                      
                      <div class="card" style="width: 20rem;">
                        <div class="card-body">
                          <h4 class="card-title">Card title</h4>
                          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#0" class="card-link">Card link</a>
                          <a href="#0" class="card-link">Another link</a>
                        </div>
                      </div>
                      
                      <div class="card" style="width: 20rem;">
                        <div class="card-body">
                          <h4 class="card-title">Card title</h4>
                          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#0" class="card-link">Card link</a>
                          <a href="#0" class="card-link">Another link</a>
                        </div>
                      </div>
                      <div class="card" style="width: 20rem;">
                        <div class="card-body">
                          <h4 class="card-title">Card title</h4>
                          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#0" class="card-link">Card link</a>
                          <a href="#0" class="card-link">Another link</a>
                        </div>
                      </div>
                      
                      <div class="card" style="width: 20rem;">
                        <div class="card-body">
                          <h4 class="card-title">Card title</h4>
                          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#0" class="card-link">Card link</a>
                          <a href="#0" class="card-link">Another link</a>
                        </div>
                      </div>
                      
                      <div class="card" style="width: 20rem;">
                        <div class="card-body">
                          <h4 class="card-title">Card title</h4>
                          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#0" class="card-link">Card link</a>
                          <a href="#0" class="card-link">Another link</a>
                        </div>
                      </div>
                      
                      <div class="card" style="width: 20rem;">
                        <div class="card-body">
                          <h4 class="card-title">Card title</h4>
                          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#0" class="card-link">Card link</a>
                          <a href="#0" class="card-link">Another link</a>
                        </div>
                      </div>
                          
                </div>
                                                                        
            </div>

            <footer th:replace="maintemplate :: footer" class="footer">
            </footer>
        </div>
    </div>
    <script>
        document.querySelector(".reparaciones").classList.add("active")
    </script>
    <div th:replace="maintemplate :: scripts"></div>
</body>

</html>
